RewriteEngine on

# Error Page(s)
ErrorDocument 403 /public/errors/403.php
ErrorDocument 404 /public/errors/404.php

# Prevent access to .yml files
RedirectMatch 403 .yml$

# Prevent access to level folder
RedirectMatch 403 ^/level

# Route all unmatched to index.php
# NC: not case senstitive
# L: stop here
# QSA: pass along query string
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]